/* app */
.container {
  background-color: rgb(0, 119, 255);
  max-width: auto;
  height: 50px;
}

/* topbuttons */
.top-buttons {
  display: flex;
  justify-content: space-around;

}

.button {
  color: white;
  background: none;
  font-size: medium;
  border: none;
}

/* inputs */
.inputs {
  display: flex;
  justify-content: center;
}